@charset "utf-8";

/* 서브페이지_1 */
.sub-container {
	width: 100%;
	height: 50px;
	margin: auto;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #eee;
}
.site-map {
	width: 1400px;
	margin: auto;
	display: flex;
}
.site-map .home-link {
	width: 50px;
	height: 50px;
	border: 1px solid #c6c6c0;
	border-top: none;
	border-bottom: none;
	box-sizing: border-box;
	cursor: pointer;
}
.site-map .link{
	position: relative;
	display: flex;
	justify-content: flex-start;
    align-items: center;
	width: 150px;
	height: 50px;
	color: #303033;
    font-weight: 300;
    font-size: 18px;
    padding-left: 20px;
    text-align: left;
    margin-left: -4px;
	border-right: 1px solid #c6c6c0;
	cursor: pointer;
}
.sub-title {
	padding-top: 90px;
	width: 1400px;
	margin: auto;
	font-size: 48px;
	font-weight: 400;
	text-align: center;
	color: #000;
	line-height: 100%;
}
.sub-content {
	width: 1400px;
	margin: 0 auto;
}
.sub-text {
	margin: 16px auto;
	text-align: center;
    font-weight: 300;
    font-size: 16px;
    color: #909099;
    padding-top: 5px;
}
.sub-tab {
	display: flex;
	margin-top: 65px;
	border: 1px solid #d0d0dd;
}
.sub-tab li {
	width: 200px;
	height: 56px;
	border-right: 1px solid #d0d0dd;
	font-size: 20px;
	text-align: center;
	box-sizing: border-box;
}
.sub-tab li:hover,
.sub-tab li.active {
	border-bottom: 3px solid #f25920
}
.sub-tab li a {
	display: inline-block;
	padding: 13px 0;
	width: 100%;
	height: 100%;
	color: #606066;
    box-sizing: border-box;
	font-weight: 100;
}
.sub-content-top {
	display: flex;
	justify-content: space-between;
    align-items: center;
	padding: 20px 0;
}
.top-left {
	font-size: 15px;
	color: #606066;
	font-weight: 300;
}
.top-right {
	display: flex;
}
.top-right input {
	padding-left: 10px;
	width: 390px;
	height: 40px;
	border: 1px solid #c0c0cc;
	font-size: 16px;
	border-radius: 0;
}
.top-right input::placeholder {
	color: #aaa;
}
.button.top-btn {
	padding: 0;
	width: 60px;
	height: 40px;
	background: #303033;
	border: none;
	font-size: 16px;
	font-weight: 100;
	color: #fff;
	text-align: center;
}
.news-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
    margin: 0 -11px;
}
.news-wrap li {
	position: relative;
	width: 450px;
	border: 1px solid #c6c7c1;
	margin: 0 11px 50px;
}
/* .news-wrap li:nth-child(3n) {
	margin-right: 0;
} */
/* .news-wrap li:nth-child(3n-1) {
	background: red;
} */

.news-wrap li .ns-img div {
	position: relative;
	width: 100%;
	height: 300px;
	background-size: cover !important;
}
.news-wrap li .ns-img .tag {
	position: absolute;
	width: 120px;
	height: 50px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 50px;
	opacity: 0.9;
	z-index: 11;
}
.news-wrap li .ns-img .tag1-1{
	background: #f25920;
}
.news-wrap li .ns-img .tag1-2{
	background: #99ca3b;
}
.news-wrap li .ns-img .tag-2 {
	position: absolute;
	bottom: 0;
	padding-left: 20px;
    width: 100%;
	height: 40px;
	background: rgba(0,0,0,0.5);
	font-size: 18px;
	color: #bcb531;
	line-height: 40px;
	box-sizing: border-box;
}
.news-wrap li .ns-txt h2{
	margin: 24px 0 20px 20px;
	font-size: 24px;
	line-height: 135%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news-wrap li .ns-txt p {
	color: #606066;
	font-size: 14px;
	margin: 0 0 0px 20px;
}
.news-wrap li .ns-txt .button {
	padding-left: 20px;
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	margin-top: 30px;
	border: none;
	border-top: 1px solid #c0c0cc;
	background-color: #eee;
	background-position-x: 300px;
	font-size: 16px;
	color: #303033;
}
.more-wrap {
	padding: 30px 0 100px 0;
	text-align: center;
}
.button.more-btn {
	padding-left: 25px;
	width: 300px;
	height: 50px;
	border: 1px solid #c0c0cc;
	background-position-x: 180px;
	color: #606066;
	font-size: 18px;
}

@media screen and (min-width:0px) and (max-width:768px) {
	.sub-container {display: none;}
	.sub-title {width:100%; padding-top: 40px; font-size: 37px;}
	.sub-content {width: 100%; padding: 0 1rem; box-sizing: border-box;}
	.sub-tab {display: block; margin-top: 35px; border: none;}
	.sub-tab li {width: 100%; border: 1px solid#d0d0dd;}
	.sub-content-top {display: block;}
	.top-left {padding-top: 15px; margin-bottom: 15px; text-align: center;}
	.top-right {padding:20px 0; justify-content: flex-end;}
	.top-right input {width: 200px;}
	.button.more-btn {padding: 0;}
	.news-wrap {margin: 0;}
	.news-wrap li {margin: 0 0 3rem 0; width: 100%;}
	.news-wrap li .ns-txt .button {background-image: none;}
	
}

/* ci/bi */
.ci-content {
	overflow: hidden;
}
.ci-h3 {
	margin: 70px 0 30px;
    font-size: 36px;
    color: #000;
    width: 80px;
    border-top: 3px solid #bcb531;
    white-space: nowrap;
    font-weight: 300;
    padding-top: 10px;
	clear: both;
}
.ci-txt {
	color: #606066;
	font-size: 18px;
	font-weight: 200;
}
.ci-img-wrap {
	height: 400px;
	margin: 35px 0 70px;
	padding: 20px;
	border: 1px solid #d0d0dd;
	text-align: center;
	line-height: 360px;
}
.ci-img-wrap span {
	position: absolute;
	padding: 10px 25px;
	border: 1px solid #e77711;
	background: #f88822;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	line-height: 100%;
}
.ci-img-wrap img{
	max-width: 100%;
	vertical-align: middle;
}
.img-left, .img-right {
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.img-right {
	border-left: none;
}
.ci-img-wrap div {
	float: left;
}
.ci-img-wrap div:last-child {
	margin-left: 70px;
}
.bi-pantone .bi-color-wrap:not(:first-child){
	margin-top: 0px;
	border-top: none;
}
.bi-pantone .bi-color-wrap:last-child {
	margin-bottom: 70px;
}
.bi-color-wrap {
	margin-top: 30px;
	padding: 20px;
	border: 1px solid #d0d0dd;
}
.bi-color-wrap span {
	display: block;
	width: 178px;
	padding: 10px 0px;
	border: 1px solid #d0d0dd;
	margin-bottom: 20px;
	color: #303033;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	line-height: 100%;
}

@media screen and (min-width:0px) and (max-width:768px) {
	.ci-h3 {font-size: 25px;}
	.ci-img-wrap {height: auto !important; overflow: auto;}
	.img-left, .img-right {float:none; width: 100%;}
	.img-right {border-left: 1px solid #d0d0dd;}
	.img-right div:last-child {display: inline-block; margin-left: 0px;}
	.bi-color-wrap img {max-width: 100%;}
}
@media screen and (min-width:768px) and (max-width:1500px) {
	.news-wrap li {width: 31%; margin:0 1% 2%;}
}